/*              During Internship DayWise Activites              */

⚪WEEK:1⚪ (21/1-24/1)
Day:1 Introduction C language                           -----\
       & Give Task: To Built Candy Game                       \
Day:2 Explain Array Concept & Give Task:                ------ \                   
      To create single and multiple dimension array             \
      & perform operations like addition,substraction,  ------- Learning C Language
      multi,division,bubble sort and searching.                 /
Day:3 Explain All Functions concept with its types.     -------/
      create student form type(sid,sname,marks,               /      
      sdetails)                                         -----/     
Day:4 Give Project Title(Develop auction car site)

⚪WEEK:2⚪ (26/1-00/1)
Day:5 Explain HTML(tags,create tables, lists, add 
      link & imgs)
Day:6 Explain pointer in c.
      Introduction of Git and Github.
Day:7 Explain all concepts of HTML.
Day:8 Explain css.